.container{
   display: flex;
   height:100vh;
   width: 100vw;

    border: none;
   
    gap:25px;
    background-color: white;
    align-items: flex-start;

  
}
div{
    width:140px;
    height:140px;
    background-color: aqua;
    border: 2px dashed black;
    font-size:50px;  

}

.box2{
   flex:2 1 40em;
}
