.body{
    margin: 50px;
}
.grid{
   
    display:grid;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    color:#444;
}
.bx{
    background-color: blue;
    color:black;
    border-radius: 5px;
    padding:20px;
    font-size: 150%;
}