body{
    background-color: aqua;
}
@media screen and (min-width:600px)
{
    body{
        background-color: pink;
    }
}

@media screen and (min-width:700px)
{
    body{
        background-color: rgb(142, 3, 26);
    }
}
@media screen and (min-width:800px)
{
    body{
        background-color: rgb(102, 18, 237);
    }
}